$columns: 16;
$margin: 20px;
$site_width: 1151px;
/* $column_bg: #fff6f0; */
$column_bg: transparent;

$link_color: #006DB1;
$link_hover_color: #1C7DAE;

$leadimage_width: 300px;
$leadimage_width_percent: 100%*($leadimage_width/(12*$site_width/16));

$column_content_width: ($site_width/$columns);

@mixin body-links() {
    a, a:visited {
        color: $link_color;
        text-decoration: none;
    }
    
    a:hover {
        color: $link_color;
        text-decoration: underline;
    }
}

.hiddenStructure {
    position: absolute;
    margin: 0 0 0 -10000px;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	
	#content-column {
        color: #000000;

        @include body-links;
        
        a, a:hover {
            text-decoration: underline;
        }
	}
}

.discreet {
    color: #575757;
    font-size: 0.9375em;
}

.section:after {
    display: table;
    clear: both;
    content: '';
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 100%*($margin/$site_width);
	background-color: $column_bg;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/* Column Widths */
@for $i from 1 through $columns {
    .col-md-#{$i} {
        $column_width: ($i*$column_content_width) - (2*$margin);
        width: 100%*($column_width/$site_width);
    }
}

/*  GO FULL WIDTH BELOW 768 PIXELS */
@media only screen and (max-width: 768px) {
    #plone {
    	.col, .section {
            margin: 1% 0;
        }

        .product-name {
            padding: 0 !important; /* Sorry, Magento made me do it. */
        }

        margin: 1% 100%*(2*$margin/$site_width);
    }

    @for $i from 1 through $columns {
        .col-md-#{$i} {
            width: 100%;
        }
    }
}

#plone {
font-size: 1.125em;
    > .section {
        margin: 0 -100%*($margin/$site_width);
    }

    #section-title {
        font-size: 2em;
        color: #333333;

        a {
            color: #333333;
        }
    }

    .documentDescription {
        margin-bottom: 1em;
        font-size: 1.125em;
    }

    .leadimage {
        float: right;
        width: $leadimage_width_percent;
        margin-left: 100%*($margin/$site_width);

        img {
            width: 100%;
            height: auto;
        }
    }

    .visualClear {
        clear: both;
        display: block;
        font-size: 0;
    }

    #content {
        
        table {

            border: 1px solid #333333;
            border-collapse: collapse;

            th, td {
                padding: 0.5em 0.25em;
                border: 1px solid #333333;
                border-collapse: collapse;
                color: #000000;
            }

            th {
                background-color: #DDDDDD;
                font-weight: bold;
            }

            td {
            }

        }

        .tileItem {
            clear: both;
            margin-bottom: 1.5em;

            ul.jobTitle {
                font-weight: bold;
                margin: 0.125em 0 0.375em;
                list-style-type: none;

                li {
                    margin: 0 0 0.125em;
                    line-height: 1.125;
                }
            }

            .contentLeadImageContainer {
                float: right;
                width: 15%;

                img {
                    width: 100%;
                }
            }
        }

        .tileTitle, .tileHeadline {
            font-size: 1.25em;
            font-weight: bold;
            
            @include body-links;
        }

        .tileDescription {
            font-size: 1em;
        }

        ul {
            list-style-type: disc;
            margin-bottom: 1.375em;

            li {
                margin-left: 2em;
                margin-bottom: 0.25em;
            }
        }

        p {
            margin-bottom: 1.375em;
        }

        .listingBar {
            margin-top: 2em;
            padding-top: 1em;

            clear: both;

            a {
                width: 48%;
                text-align: left;
                display: inline-block;
            }

            a.listingNext {
                margin-left: 2%;
                text-align: right;
                float: right;
            }

            a.listingPrevious {
                margin-right: 2%
            }

            a.listingPrevious::before {
                content: "\00AB";
            }

            a.listingNext::after {
                content: "\00BB";
            }
        }

    }

    .navTree {
        ul {
            margin-left: 1em;
        }
    }

    #homepageimage {
    	display: block;
    	text-align: left;
    	background-repeat: no-repeat;
    	background-size: 100%;
    	background-position: center middle;
    	background-color: #FFFFFF;
    }

    .portletWrapper {
        h2.portletHeader {
            margin-bottom: 0.125em;
        }

        .portletItem {
            margin-bottom: 0.25em;
            line-height: 1.25;
        }

        .portletFooter {

            @include body-links;
            font-size: 0.875em;
        }

        .portletLinkIcon {
            .portletItem {
                
                @include body-links;
                
                margin-left: 0.75em;
                margin-bottom: 0.75em;
                
                span {
                    margin-left: 0.25em;
                }
            }
        }
        
        .portletLinkButton {
            .portletItem {
                border: 1px solid #333333;
                background-color: #F6F6F6;
                padding: 1em;
                margin: 1em 0;
            }
        }
    
        .portletNavigationTree {
            .portletItem {
                
                @include body-links;
                
                .navTreeItemInPath, .navTreeCurrentNode {
                    > a {
                        font-weight: bold;
                    }
                }
                
                > ul > li {
                    margin-bottom: 0.75em;
                    
                    > ul > li {
                        margin: 0.25em 0;
                    }
                }
            }
        }
    
        .portletCollection {
            .portletItem {
                
                @include body-links;
                
                margin-left: 0.75em;
                margin-bottom: 0.75em;
            }
        }


        margin-bottom: 1em;
    }

    #center-column {
        .portletfeedmixer {
            .portletItem {

                .rssImage {
                    max-width: 100%*(225px/(10*$column_content_width));
                    float: right;
                    margin-left: 100%*(10px/(10*$column_content_width));

                    img {
                        width: 100%;
                    }
                }

                .title {
                    font-size: 1.25em;
                    font-weight: bold;
                }

                .portletItemDetails.date {
                    font-size: 0.875em;
                }

                margin: 2% 0;
            }
        }

        .portletItem:after {
            clear: both;
            content: '';
            display: block;
        }
    }
}