@import 'variables';

@mixin body-links() {
    a, a:visited {
        color: $link_color;
        text-decoration: none;
    }

    a:hover {
        color: $link_color;
        text-decoration: underline;
    }
}

.hiddenStructure {
    position: absolute;
    margin: 0 0 0 -10000px;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	
	#content-column {
        color: #000000;

        @include body-links;

        a, a:hover {
            text-decoration: underline;
        }

        .product-name h1.documentFirstHeading {
            margin-bottom: 0.375em;
        }
	}
}

.discreet {
    color: #575757;
    font-size: 0.9375em;
}

.section:after {
    display: table;
    clear: both;
    content: '';
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 100%*($margin/$site_width);
	background-color: $column_bg;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/* Column Widths */
@for $i from 1 through $columns {
    .col-md-#{$i} {
        $column_width: ($i*$column_content_width) - (2*$margin);
        width: 100%*($column_width/$site_width);
    }
}

/*  GO FULL WIDTH BELOW 768 PIXELS */
@media only screen and (max-width: 768px) {
    #plone {
    	.col, .section {
            margin: 1% 0;
        }

        .product-name {
            padding: 0 !important; /* Sorry, Magento made me do it. */
        }

        margin: 1% 100%*(2*$margin/$site_width);
    }

    @for $i from 1 through $columns {
        .col-md-#{$i} {
            width: 100%;
        }
    }

    body.section-4-h .main #left-column {
        background-image: none;
        padding-bottom: 0;
    }
}

#plone {
font-size: 1.125em;
    > .section {
        margin: 0 -100%*($margin/$site_width);
    }

    #section-title {
        font-size: 2em;
        color: #333333;

        a {
            color: #333333;
        }
    }

    .documentDescription {
        margin-bottom: 1em;
        font-size: 1.125em;
    }

    .leadimage {
        float: right;
        width: $leadimage_width_percent;
        margin-left: 100%*($margin/$site_width);
        margin-bottom: 1em;

        img {
            width: 100%;
            height: auto;
        }
    }

    .visualClear {
        clear: both;
        display: block;
        font-size: 0;
    }

    #content {

        .effectiveDate {
            font-size: 0.875em;
            color: #575757;
        }

        .pullquote, .callout {
            display: block;
            background: #EEEEEE;
            padding: 1em;
            border-left: 1em solid #CCCCCC;
            clear: both;
            margin: 0.5em 0 1em;
        }

        // Headings shouldn't have links
        h2, h3, h4, h5, h6 {
            a {
                color: #000000;
                text-decoration: none !important;
                cursor: default;
            }
        }

        h2 a {
            color: $h2_color !important;
        }

        h3 a {
            color: $h3_color !important;
        }

        h4 {
            text-transform: none;
            font-size: 17px;
        }

        table {

            margin-bottom: 1.5em;
            border: 1px solid #333333;
            border-collapse: collapse;

            th, td {
                padding: 0.5em 0.75em;
                border: 1px solid #333333;
                border-collapse: collapse;
                color: #000000;
            }

            th {
                background-color: #DDDDDD;
                font-weight: bold;
            }

            td {
            }

        }

        .tileItemContainer {
            .portletWrapper {

                h2.portletHeader {
                    margin-bottom: 0.5em;
                }
            }

            padding-bottom: 1em;
        }

        .tileItem {
            clear: none;
            margin-bottom: 2em;

            ul.jobTitle {
                font-weight: bold;
                margin: 0.125em 0 0.375em;
                list-style-type: none;

                li {
                    margin: 0 0 0.125em;
                    line-height: 1.125;
                }
            }

            .contentLeadImageContainer,
            .searchLeadImageContainer {
                float: right;
                width: 17.5%;
                margin: 0 0 0.75em 0.75em;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .tileSubItem {
                margin-top: 1.5em;
                margin-left: 2em;
                font-size: 0.875em;
            }
        }

        .galleryImage {
            margin: 0 0.75em 2em;

            .tileImage {
                width: 100%;
                display: block;
                height: 0;
                padding-bottom: 66.6667%;
                overflow: hidden;
                position: relative;

                img {
                    max-width: 100%;
                    width: 100%;
                    display: block;
                    position: absolute;
                    height: auto;
                    -ms-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    top: 50%;
                }
            }

            .tileTitle {
                margin-top: 0.25em;
                font-size: 1.125em;
                line-height: 1.125;
            }

            .tileDescription,
            .tileBody {
                font-size: 1em;
                line-height: 1.125;
            }
        }


        #content-core {

            .tileItemLeadImage,
            .tileSummaryLeadImage {
                clear: both;
            }

            dd {
                margin-bottom: 2em;

                span.description {
                    line-height: 1.25;
                }
            }
        }

        .tileTitle, .tileHeadline {
            font-size: 1.25em;
            font-weight: bold;

            @include body-links;
        }

        .tileDescription,
        .tileBody {
            font-size: 1em;
            line-height: 1.25;
        }

        ul, ol {
            margin-bottom: 1.375em;

            li {
                margin-left: 2em;
                margin-bottom: 0.25em;

                p {
                    margin: 0;
                }
            }
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: roman;
        }

        p {
            margin-bottom: 1.375em;
        }

        .listingBar {
            margin-top: 2em;
            padding-top: 1em;

            clear: both;

            a {
                width: 48%;
                text-align: left;
                display: inline-block;
            }

            a.listingNext {
                margin-left: 2%;
                text-align: right;
                float: right;
            }

            a.listingPrevious {
                margin-right: 2%
            }

            a.listingPrevious::before {
                content: "\00AB";
            }

            a.listingNext::after {
                content: "\00BB";
            }
        }

        .listingBar.pagination {

            clear: both;
            margin-top: 2em;
            padding-top: 1em;
            margin-bottom: 1em;

            span, a {
                display: inline;
                width: auto;
            }

            a.next {
                float: right;
            }

            a.previous {
                padding-right: 2em;
            }

            .current {
                font-weight: bold;
            }
        }

        .publication {
            font-size: 0.875em;
            border-top: none;
            margin-bottom: 1.5em;

            h2 {
                margin: 1.125em 0 0.375em 0;
                font-size: 1.375em;
                padding: 0;
                border: none;
                font-weight: 600;
            }

            h3 {
                margin-top: 0;
            }

        }

        .documentContributors {
            .documentContributorsItems {

                padding-left: 0.75em;

                .contentLeadImageContainer {
                    max-width: 5rem;
                    float: left;
                    margin: 0 0.75em 0.75rem 0;
                }

                .tileHeadline {
                    font-size: 1.125em;
                    margin-left: 5.75rem;
                }

                .facultyStaffDirectory {
                    margin-left: 5.75rem;
                    ul.jobTitle {
                        margin-bottom: 1em;
                    }

                    > div {
                        color: #575757;
                    }
                }
            }
        }

        h2.inline,
        h3.inline {
            font-size: 1em;
            font-weight: 600;
            border-bottom-width: 0;
            display: inline;
        }

        h3.inline:after {
            content: ":";
        }

    }

    #homepageimage {
    	display: block;
    	text-align: left;
    	background-repeat: no-repeat;
    	background-size: 100%;
    	background-position: center middle;
    	background-color: #FFFFFF;
    }

    .portletWrapper {

        h2.portletHeader {
            margin-bottom: 0.125em;
        }

        .portletItem {
            margin-bottom: 0.25em;
            line-height: 1.25;
        }

        .portletFooter {

            @include body-links;
            font-size: 0.875em;
        }

        .portletLinkIcon {
            .portletItem {

                @include body-links;

                margin-bottom: 0.75em;

                span {
                    margin-left: 0.25em;
                }
            }
        }

        .imagePortlet {
            .portletItem {

                margin-bottom: 1.5em;

                text-align: center;

                img {
                    display: inline;
                    max-width: 100%;
                }
            }
        }

        .portletLinkButton {
            .portletItem {
                background-color: $button_background;
                padding: 0.75em;
                margin: 1em 0;

                a {
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }

            .portletItem:hover {
                background-color: $button_background_hover;
            }
        }

        .portletNavigationTree {
            .portletItem {

                @include body-links;

                .navTree {
                    ul {
                        margin-left: 1em;
                    }
                }

                .navTreeItemInPath, .navTreeCurrentNode {
                    > a {
                        font-weight: bold;
                    }
                }

                > ul > li {
                    margin-bottom: 0.875em;
                    line-height: 1.125;

                    > ul {

                        margin: 0.25em 0 0.75em 0.5em;
                        padding: 0.25em 0.75em;
                        border: 1px solid #DDDD;
                        background-color: #F9F9F9;
                        font-size: 0.9375em;

                        > li {
                            line-height: 1.125;
                            margin: 0.375em 0 0.5em;
                        }
                    }
                }
            }
        }

        .portletCollection {
            .portletItem {

                @include body-links;

                margin-bottom: 0.75em;
            }
        }


        margin-bottom: 2em;
    }

    #left-column {
        #left-column-navigation-header {
            border-bottom: 1px solid #DDDDDD;
            margin-bottom: 0.375em;

            a {
                text-decoration: none;
            }
        }
    }

    #center-column {

        .portletfeedmixer {
            .portletItem {

                .rssImage {
                    max-width: 100%*(225px/(10*$column_content_width));
                    float: right;
                    margin-left: 100%*(10px/(10*$column_content_width));

                    img {
                        width: 100%;
                    }
                }

                .title {
                    font-size: 1.125em;
                    font-weight: bold;
                }

                .portletItemDetails.date {
                    font-size: 0.875em;
                    color: #575757;
                }

                .portletItemDetails.summary {
                    font-size: 1em;
                }

                margin: 2% 0 1.5em;
            }
        }

        .portletItem:after {
            clear: both;
            content: '';
            display: block;
        }
    }
}

body.section-4-h #left-column {
    background-image: url('../images/4hlogo.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 150px;
}


#search, .page-header #search_fixed {
    text-transform: none;
}

body.template-search_z3 {
    .breadcrumbs {
        display: none;
    }
}

body.template-event_view {
    .event_add_calendar {
        img {
            display: none;
        }
    }

    .event_when,
    .event_where,
    .event_add_calendar,
    .event-registration,
    .event_contact,
    .event_phone {
        h3 {
            display: inline;
            font-size: 1em;
        }
        h3:after {
            content: ": ";
        }
    }
    
    form.event-registration {
        input[type="submit"] {
            font-size: 1em;
            color: #FFFFFF;
            background-color: #8F2C00;
            background-image: none;
            border: 1px solid #280C00;
            text-decoration: none;
            cursor: pointer;
            padding: 0.75em 1.25em;
            font-weight: 600;
            margin: 0.5em 0 0.5em 0;
            white-space: normal;
            text-align: center;
            float: none;
            clear: both;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
    }

    .eventWebsite,
    .eventBodyText,
    form.event-registration {
        margin: 1em 0;
    }
}


@import 'tile';
@import 'tile-folder';