/* $column_bg: #fff6f0; */
.hiddenStructure {
  position: absolute;
  margin: 0 0 0 -10000px; }

.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

.section:after {
  display: table;
  clear: both;
  content: ''; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0.86881%;
  background-color: transparent; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/* Column Widths */
.col-md-1 {
  width: 4.51238%; }

.col-md-2 {
  width: 10.76238%; }

.col-md-3 {
  width: 17.01238%; }

.col-md-4 {
  width: 23.26238%; }

.col-md-5 {
  width: 29.51238%; }

.col-md-6 {
  width: 35.76238%; }

.col-md-7 {
  width: 42.01238%; }

.col-md-8 {
  width: 48.26238%; }

.col-md-9 {
  width: 54.51238%; }

.col-md-10 {
  width: 60.76238%; }

.col-md-11 {
  width: 67.01238%; }

.col-md-12 {
  width: 73.26238%; }

.col-md-13 {
  width: 79.51238%; }

.col-md-14 {
  width: 85.76238%; }

.col-md-15 {
  width: 92.01238%; }

.col-md-16 {
  width: 98.26238%; }

/*  GO FULL WIDTH BELOW 768 PIXELS */
@media only screen and (max-width: 768px) {
  .col, .section {
    margin: 1% 0 1% 0%; }

  .col-md-1 {
    width: 100%; }

  .col-md-2 {
    width: 100%; }

  .col-md-3 {
    width: 100%; }

  .col-md-4 {
    width: 100%; }

  .col-md-5 {
    width: 100%; }

  .col-md-6 {
    width: 100%; }

  .col-md-7 {
    width: 100%; }

  .col-md-8 {
    width: 100%; }

  .col-md-9 {
    width: 100%; }

  .col-md-10 {
    width: 100%; }

  .col-md-11 {
    width: 100%; }

  .col-md-12 {
    width: 100%; }

  .col-md-13 {
    width: 100%; }

  .col-md-14 {
    width: 100%; }

  .col-md-15 {
    width: 100%; }

  .col-md-16 {
    width: 100%; } }
#plone #section-title {
  font-size: 2em;
  color: #333333; }
  #plone #section-title a {
    color: #333333; }
#plone .documentDescription {
  margin-bottom: 1em; }
#plone #content .tileItem {
  margin-bottom: 1em; }
#plone #content .tileTitle {
  font-size: 1.375em;
  font-weight: bold; }
#plone #content .tileDescription {
  font-size: 1.125em; }
#plone .navTree ul {
  margin-left: 1em; }
#plone #homepageimage {
  display: block;
  text-align: left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center middle;
  background-color: #FFFFFF; }
#plone .portletWrapper {
  margin-bottom: 1em; }
  #plone .portletWrapper h2.portletHeader {
    margin-bottom: 0.125em; }
  #plone .portletWrapper .portletItem {
    margin-bottom: 0.25em; }
  #plone .portletWrapper .portletFooter {
    font-size: 0.875em; }
#plone #center-column .portletfeedmixer .portletItem {
  margin: 2% 0; }
  #plone #center-column .portletfeedmixer .portletItem .rssImage {
    max-width: 31.27715%;
    float: right;
    margin-left: 1.3901%; }
    #plone #center-column .portletfeedmixer .portletItem .rssImage img {
      width: 100%; }
  #plone #center-column .portletfeedmixer .portletItem .title {
    font-size: 1.25em;
    font-weight: bold; }
  #plone #center-column .portletfeedmixer .portletItem .portletItemDetails.date {
    font-size: 0.875em; }
#plone #center-column .portletItem:after {
  clear: both;
  content: '';
  display: block; }

/*# sourceMappingURL=atlas.css.map */
