body {
  font-size: 16px;
  line-height: 1.2; }

.hiddenStructure {
  height: 1px;
  position: absolute;
  margin-left: -10000px; }

.container .jumbotron,
.container-fluid .jumbotron {
  padding: 0.5em 100%;
  font-size: 2em;
  margin: 0.5em -100%;
  background-color: #F6F6F6;
  border-radius: 0; }
  .container .jumbotron a,
  .container-fluid .jumbotron a {
    color: #333;
    border-bottom: 1px solid #cccccc; }
  .container .jumbotron a:hover,
  .container-fluid .jumbotron a:hover {
    text-decoration: none;
    color: #337ab7;
    border-bottom: 1px solid #337ab7; }
.container .logo,
.container-fluid .logo {
  padding: 0.75em 0 0.25em; }
.container .homepageimage,
.container-fluid .homepageimage {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center middle;
  background-color: #FFFFFF; }

.container-homepageimage {
  padding-bottom: 1em; }

.left-column,
.right-column,
.center-column {
  font-size: 0.9375em; }
  .left-column .portletWrapper .portletHeader,
  .right-column .portletWrapper .portletHeader,
  .center-column .portletWrapper .portletHeader {
    margin-top: 0;
    font-size: 1.375em; }
    .left-column .portletWrapper .portletHeader a,
    .right-column .portletWrapper .portletHeader a,
    .center-column .portletWrapper .portletHeader a {
      color: black; }
  .left-column .portletWrapper .portlet,
  .right-column .portletWrapper .portlet,
  .center-column .portletWrapper .portlet {
    margin-bottom: 1.5em; }
    .left-column .portletWrapper .portlet .portletItem,
    .right-column .portletWrapper .portlet .portletItem,
    .center-column .portletWrapper .portlet .portletItem {
      margin-bottom: 1.25em; }
      .left-column .portletWrapper .portlet .portletItem .rssImage,
      .right-column .portletWrapper .portlet .portletItem .rssImage,
      .center-column .portletWrapper .portlet .portletItem .rssImage {
        width: 20%;
        margin-left: 2%;
        float: right; }
        .left-column .portletWrapper .portlet .portletItem .rssImage img,
        .right-column .portletWrapper .portlet .portletItem .rssImage img,
        .center-column .portletWrapper .portlet .portletItem .rssImage img {
          width: 100%; }
    .left-column .portletWrapper .portlet .portletFooter,
    .right-column .portletWrapper .portlet .portletFooter,
    .center-column .portletWrapper .portlet .portletFooter {
      font-size: 0.875em; }
    .left-column .portletWrapper .portlet ul, .left-column .portletWrapper .portlet ol,
    .right-column .portletWrapper .portlet ul,
    .right-column .portletWrapper .portlet ol,
    .center-column .portletWrapper .portlet ul,
    .center-column .portletWrapper .portlet ol {
      padding: 0;
      margin: 0; }
      .left-column .portletWrapper .portlet ul li, .left-column .portletWrapper .portlet ol li,
      .right-column .portletWrapper .portlet ul li,
      .right-column .portletWrapper .portlet ol li,
      .center-column .portletWrapper .portlet ul li,
      .center-column .portletWrapper .portlet ol li {
        list-style-type: none; }
    .left-column .portletWrapper .portlet .title,
    .right-column .portletWrapper .portlet .title,
    .center-column .portletWrapper .portlet .title {
      font-size: 1.25em; }
    .left-column .portletWrapper .portlet .date,
    .right-column .portletWrapper .portlet .date,
    .center-column .portletWrapper .portlet .date {
      font-size: 0.875em;
      color: #575757;
      margin-bottom: 0.25em; }
    .left-column .portletWrapper .portlet .summary,
    .right-column .portletWrapper .portlet .summary,
    .center-column .portletWrapper .portlet .summary {
      color: #333333;
      font-size: 0.9375em; }
  .left-column .portletWrapper .portletNavigationTree .portletItem .navTreeLevel1,
  .right-column .portletWrapper .portletNavigationTree .portletItem .navTreeLevel1,
  .center-column .portletWrapper .portletNavigationTree .portletItem .navTreeLevel1 {
    padding-left: 1em;
    margin-bottom: 0.5em; }

.content-column {
  /* Next/Previous Links */ }
  .content-column > .description {
    font-size: 1.375em; }
  .content-column .content .tileTitle {
    margin-top: 0.75em;
    font-size: 1.25em; }
  .content-column .content .tileDescription {
    font-size: 0.9375em; }
  .content-column .content .documentByLine {
    color: #575757;
    font-size: 0.875em; }
  .content-column .listing-bar {
    margin-top: 1em;
    padding: 0; }
    .content-column .listing-bar a {
      border: none;
      padding: 0; }
    .content-column .listing-bar a:hover {
      background-color: transparent;
      text-decoration: underline; }
    .content-column .listing-bar span.previous,
    .content-column .listing-bar .listingPrevious {
      width: 48%;
      margin-right: 2%;
      display: block;
      float: left; }
    .content-column .listing-bar span.next,
    .content-column .listing-bar .listingNext {
      width: 48%;
      margin-left: 2%;
      display: block;
      float: right;
      text-align: right; }
    .content-column .listing-bar .listingNext:after {
      content: "\00BB"; }
    .content-column .listing-bar .listingPrevious:before {
      content: "\00AB"; }

h1, h2, h3, h4 {
  margin: 1.375em 0 0.5em;
  font-weight: bold; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 0.0625em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

ul, ol {
  margin-bottom: 0.75em; }
  ul li, ol li {
    margin-bottom: 0.5em; }

p {
  margin-bottom: 0.75em; }

.discreet {
  color: #575757;
  font-size: 0.875em; }

.visualClear {
  clear: both;
  font-size: 1em; }

/*# sourceMappingURL=atlas.css.map */
