.orderlist-table-container .table-category tbody tr td select{
	font-size: 12px;
	margin-bottom: 5px;
}
.orderlist-table-container .table-category tbody tr td .price-box .map-link{
	text-align: left;
}
.in-cart-top {
	position: relative;
	margin: 10px 0px;
	text-align: right;
}

.in-cart {
	display: block;
	text-align: right;
	margin: 22px 0 0;
	padding-bottom: 20px;
}
tr.complex-product-children-tr td{
	padding: 0;
}

.table-category {
	width: 100%;
	background: #fff;
	border: 1px solid #E2E2E2;
	font-size: 12px;
	position:relative;
	display: table;
}

.table-category .table-heading { 
	height: 30px;
	
}
.table-category thead .table-heading td{
	background: #F7F6F6;
	font-weight: bold;
}

.table-heading td { 
	font-size: 12px;
	color: #636363;
	vertical-align: middle;
	text-align: left;
}

td.amount form {
	margin-bottom: 0;
}

.table-category td.amount {
	text-align: center !important;
	
	
}

#table-products .sku-name a,#table-products .sku-name {
	font-size: 12px;
	color: #1f1e20;
	text-align: left;
}

#table-products .sku-name .name {
	width: 97px;
	margin-left:-3px
}
.table-category tbody td.sku-name .sku{margin-left:-3px}

td.sort-price .price {
	font-size: 12px;
	color: #1f1e20;
	font-weight: normal !important;
}

td.sort-price .price-box {
	margin-bottom: 0;
	font-size: 12px;
}

td.sort-price .price-label {
	display: none;
	font-weight:normal;
}

p.old-price, p.special-price {
	display: inline;
}

p.special-price {
	padding-left: 5px;
}

td.amount .input-text.qty {
	border-color: #f3eded !important;
	color: #1f1e20;
	font-size: 12px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	width: 35px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.table-category tr.even { 
	background: #f7f6f6;
}

.table-category td {
	padding:5px;
	text-align: left;
	vertical-align: middle;
	text-transform: capitalize;
}
.table-category td.sku,.table-category td.sku-name{padding-top: 6px;}

.block-cart-list  .totals p.amount {
	float: left;
	width: 58%;
	position: relative;
	margin-bottom: 13px;
}

.block-cart-list  .totals p.amount .items {
	position: absolute;
	top: 1px;
	right: 53px;
}

.block-cart-list  .totals p.amount a {
	color: #61605f;
	font-size: 14px;
}

.block-cart-list .totals p.subtotal {
	
	color: #61605f;
	font-size: 14px;
}

.block-cart-list  .totals {
	height: 24px;
	padding: 5px 0 9px 3px;
	background: none;
	border: none;
	border-bottom: 1px solid #f3f1f1;
	margin-bottom: 0px;
}

.cart-products {
	border-bottom: 1px solid #f3f1f1;
	padding: 0px;
	clear: left;
}

.block-cart-list .cart-product-name {
	width: 53%;
	color: #212020;
	font-size: 11px;
	margin-left: 6px;
	padding-top: 3px;
}

.block-cart-list td{
	vertical-align: middle;
	padding:2px;
	min-height:50px;
}

.cart-sidebar-list tr.odd{
	background-color: #E8E8E8;
}

.cart-sidebar-list tr.even{
	background-color: #fff;
}

.block-cart-list .product_amount { 

}

.block-cart-list .product_amount .price {
	color: #212020;
	font-size: 12px;
}

.block-cart-list .product-input { 
	width: 15%;
	margin-bottom: 6px;
}

#qty-sidebar {
	width: 29px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	padding-top: 3.5px;
	padding-bottom: 3.5px;
	border-color: #f3eded;
	color: #212020;
	font-size: 12px;
	float: left;
}

.block-cart-list .product-input .btn-remove.btn-remove1 {
	display: none;
}

.block-cart-list .update {
	margin: 16px 0 10px 0px;
}

.block-cart-list .update button.button span {
	font-size: 13px;
	font-weight: normal;
}
.block-cart-list .update button.button{margin-left: 25px;width: 117px;height: 29px;}


.table-category tbody td.lbs, .table-category tbody td.pack{padding-top: 4px;}
.table-category  .product-image #image a img{padding-top: 7px;margin:0 auto;}
.table-category  tr.even .product-image #image a img{padding-top: 0px;}
.table-category  tbody td.product-image{border:none;}
.col-1.registered-users { margin: 2.5% auto; width: 93%;}

.complex-product-children{
	display:none;
	position: relative;
}
.complex-product-children, .complex-product-children select{
	font-size:11px;	
	
}
.complex-product-children .options-block-close{
	position:absolute;
	top:6px;
	right:10px;
	width:50px;
}

.complex-product-children .options{
	width:100%;
	padding:5px;
	float:left;
	border-bottom: 1px solid #E2E2E2;
}

.complex-product-children .conf_qty{
	padding:8px 5px 8px;
	border-top: 1px solid #E2E2E2;
	
}
.table-category tfoot tr.table-heading{height: inherit;}
.complex-product-children .conf_qty label{
	font-weight:bold;
}

tr.complex-product-children-tr{
	border-bottom: 1px solid #E7F1F4;
}

/*bundle product*/
.b2borderlist-bundle-options dt{
	padding:0px;
	
}

 .b2borderlist-bundle-options dd {
	padding:5px;
	margin-bottom:15px;
}
.b2borderlist-bundle-options div.input-box{
	margin-bottom:10px;
}

.in-cart-top{
	margin-bottom:20px;
	margin-top: 20px;
}
.data-table-b2borderlist{
	width:100%;
	margin-top:25px;
}

.data-table-b2borderlist .regular-price .price {
    color: #000;
    font-size: 12px;
    font-weight: normal;
}

.table-category td.orderlist-preloader {
	display: none;
}

.table-category .preloader td.orderlist-preloader {
	display: table-cell;;
}

.table-category td.orderlist-preloader, .table-category td.orderlist-preloader .black, .table-category td.orderlist-preloader .preloader-img {
	height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;	
    z-index: 99999;
}

.table-category td.orderlist-preloader .black {
	opacity: 0.5;
	background-color: #000;
	opacity: 0.5;
}

.table-category td.orderlist-preloader .preloader-img {
	background: url("../images/loader.GIF") no-repeat scroll 50% 50% transparent;	
}

.orderlist-message {   
    left: -170px;
    top: -7px;
    vertical-align: middle;
    width: 200px;
}

.orderlist-message {
	display: none;
}

.orderlist-message > span {
    background: #faebe7 url("../images/error-icon.png") no-repeat scroll 9px 14px;
    border: 1px solid #f16048;
    color: #df280a;
    padding: 13px 5px 13px 32px;    
    line-height: 100px;
}

/* Tire prices */

.orderlist-tireprices {
	display: none;
	height: 0;
}

.tireprice-title {
	background: transparent url("../images/arrow-down.png") no-repeat scroll 100% 0;
    padding-right: 15px;
    font-size: 12px;
}

.orderlist-tireprices {
	position: absolute;
	z-index: 10000000;
	 display: none; 
	 height: auto;
	
	
}
	

/* End of Tire prices */

/***** Responsive *****/
@media only screen and (max-width: 479px) {	
	.orderlist-table-container {
		overflow-x: scroll;
	}	
}
