body{-webkit-print-color-adjust:exact}.catalog-product-view .z-block-header,
.catalog-product-view .col-right,
.catalog-product-view .product-collateral,
.catalog-product-view .page-header-container .skip-links,
.catalog-product-view .page-header-container .logo img:not(.fixed),
.catalog-product-view .footer-container > div:not(.copyright),
.catalog-product-view .empty-footer,
.catalog-product-view
.discussing{display:none}.catalog-product-view .col-main{width:100%;padding:0}.catalog-product-view .page-header-container
.logo{max-width:321px;min-height:54px}.catalog-product-view .page-header{position:relative}.catalog-product-view .main-container{padding-top:30px !important}.catalog-product-view .footer-container{position:relative}.footer-container
.copyright{background:#20212b;padding:8px
0;border-bottom:2px solid #323232;display:block;text-align:center}.footer-container .copyright
address{max-width:1175px;margin:0
auto;padding:0
12.5px;color:#a0a0a0;font-size:12px}.footer-container .copyright address
a{color:#fff;text-decoration:none}