.catalog-product-view .copyright{display: none;}
.col2-right-layout .main{max-width: 1175px; padding: 0 12.5px; margin: 0 auto;}
.catalog-product-view .main .breadcrumbs {padding: 0;}
.catalog-product-view .product-name h1 {margin: 0 0 5px 0;}
.catalog-product-view .product-view .product-essential {  padding-left: 0;  padding-right: 0;}
.product-shop .std > *:last-child {margin: 0;}
.catalog-product-view .main-container {padding: 0;}
.product-essential .product-name h1 {margin-top: 0;}
.catalog-product-view .col-main {width: 75.5%;}
.catalog-product-view .col-right {width: 24.5%; padding-bottom: 35px;}
.catalog-product-view .product-view .product-shop {margin-bottom: 0;}
.catalog-product-view .col-right .zblock {border-bottom: 1px solid #ececec; padding: 0 0 6px 0; margin: 0 0 32px 0;}
.discussing {margin: 9px 0 7px;}
.discussing .like-block, .discussing .additional-block {display: inline-block;}
.discussing .additional-block {letter-spacing: 0.5px;}
.discussing .like-block label { font-size: 12px; color: #757575; font-weight: normal; margin: 0 11px 0 0;}
.discussing .like-block label span {cursor: pointer; margin: 0 6px 0 0;  background-image: url(../images/sprite@2x.png); background-size: 914px 342px; width: 19px; height: 19px; display: inline-block; vertical-align: middle;}
.discussing .like-block label .thumbs-o-up { background-position: -498px -111px; margin-top: -4px;}
.discussing .like-block label .thumbs-o-up:hover {background-position: -498px -152px;}
.discussing .like-block label .thumbs-o-down {background-position: -545px -111px; margin-top: 4px;}
.discussing .like-block label .thumbs-o-down:hover {background-position: -545px -152px;}


.discussing .like-block a {color: #006db1; font-size: 14px; text-decoration: none; letter-spacing: 0.5px; margin: 0 0 0 -3px;}
.discussing .like-block a span {color: #757575;}
.discussing .like-block a:hover, 
.discussing .like-block a:hover span {color: #1b90c9;}
.discussing .additional-block a {font-size: 14px; color: #006db1; text-decoration: none; font-weight: 700; margin: 0 30px 0 0;}
.discussing .additional-block a:last-child {margin-right: 0;}
.discussing .additional-block a span {padding: 0 6px 0 0; font-size: 16px;}
.discussing .additional-block a.pdf-link span{font-size: 13px;}
.discussing .additional-block a.iwd-quick-view-publication span{font-size: 14px;}
.discussing .additional-block a:hover {color: #1b90c9;}
.product-details {letter-spacing: 0.5px;}
.product-details .product-type { text-transform: uppercase; display: inline-block;}
.product-details .product-type:after{content: '|'; padding: 0 2px 0 4px;}
.product-details .updated-date {display: inline-block; color: #757575; font-size: 12px; text-transform: uppercase; vertical-align: middle;}
.product-details .updated-date span {font-weight: 500;}
.product-details .product-type img {display: inline-block; vertical-align: middle; margin: 0 4px 0 0;}
.product-details .product-type label {color: #757575; font-size: 12px; font-weight: normal;}
.product-view .product-shop {width: 100%; float: none; padding: 0; margin: 20px 0;}
.product-view .light-box img {max-width: 100%; height: auto;}
.product-view .light-box {display: block;}


/* slider */
.fotorama {margin-bottom: 2px !important; padding-top: 17.5px;}
.fotorama .text-block {position: absolute; width: 100%; bottom: 0; left: 0; background: url(../images/featured-category-bg.png) repeat; padding: 20px 35px;}
.fotorama .text-block label{font-size: 16px; color: #333333; text-transform: none; font-weight: 500; margin: 0 0 4px 0; letter-spacing: 0.5px;}
.fotorama .text-block .desc {color: #757575; font-size: 14px; line-height: 22px; letter-spacing: 0.4px;}
.fotorama .text-block .desc p {margin: 0;}
.fotorama .fotorama__arr {top: 50%; margin-top: -0.7em;}
.fotorama .fotorama__arr--prev {left: 35px;}
.fotorama .fotorama__arr--next {right: 35px;}
.fotorama .fotorama__arr:after {font-family: 'FontAwesome'; color: #ffffff; font-size: 60px;}
.fotorama .fotorama__arr:hover:after {color: #006db1;}
.fotorama .fotorama__arr--prev:after {content: "\f104";}
.fotorama .fotorama__arr--next:after {content: "\f105";}
.fotorama .fotorama__nav:after {border-color: #006db1;}
.fotorama__stage {-webkit-transition: height 0.1s; -moz-transition: height 0.1s; -ms-transition: height 0.1s; -o-transition: height 0.1s; transition: height 0.1s;  }

    /* video */
.video {display: block; padding-top: 17.5px; margin-bottom: 17.5px;}

/* images */
.light-box {display: block; padding-top: 17.5px; margin-bottom: 17.5px;}

/* navigation */
.article-navigation {margin: 40px 0 22px;}
.article-navigation.hidden{display: none;}
.article-navigation > ol {display: none;}
.article-navigation.opened > ol {display: block;}
.article-navigation .collapse-header {color: #213261; font-size: 22px; font-weight: 500; text-transform: uppercase; position: relative; display: inline-block; cursor: pointer; margin: 0 0 20px 0; padding: 0 48px 0 0; letter-spacing: 0.5px;}
.article-navigation.opened .collapse-header:after {}
.article-navigation .collapse-header:after {content: "\f105"; font-family: 'FontAwesome'; font-size: 40px; display: block; top: 50%; position: absolute; margin-top: -0.5em; right: 0px; line-height: 1;}
.article-navigation .collapse-header:hover, 
.article-navigation .collapse-header:hover:after {color: #006db1;}
.article-navigation.opened .collapse-header:after {content: "\f107";} 
.article-navigation li {margin-left: 0 !important; list-style-type: none;}
.article-navigation li a {text-decoration: none; color: #757575; font-size: 14px; position: relative; margin-bottom: 10px; display: inline-block; padding: 0 0 0 32px; letter-spacing: 0.5px; line-height: 26px;}
.article-navigation > ol > li:last-child a {margin-bottom: 0;}
.article-navigation li a:before {content: "\f138"; font-family: 'FontAwesome'; color: #262833; font-size: 14px; position: absolute; left: 0; top: 5px; line-height: 1;}
.article-navigation li a:hover, .article-navigation li a:hover:before {color: #006db1;}
.article-navigation > ol {margin-bottom: 0 !important;}
.article-navigation > ol ol {margin-left: 35px; margin-bottom: 0 !important;}


/* global styles */
.product-shop .std {letter-spacing: 0.4px;}
.product-shop .std a { text-transform: none; text-decoration: none}
.product-shop .std a:hover {}
.product-shop .std ul {margin-bottom: 10px;}
.product-shop .std ol {margin-bottom: 10px;}
.product-shop .std ul li {margin-left: 17px;}
.product-shop .std ol li {margin-left: 18px;}
.product-shop .std p {margin-bottom: 14px;}
.product-shop .std h1 {margin-bottom: 13px; padding-top: 15px; letter-spacing: 0.6px;}
.product-shop .std h2 {margin-bottom: 13px; padding-top: 15px; letter-spacing: 0.6px;}
.product-shop .std h3 {margin-bottom: 13px; padding-top: 15px; letter-spacing: 0.6px;}
.product-shop .std h4 {margin-bottom: 13px; padding-top: 15px; letter-spacing: 0.6px;}
.product-shop .std h5 {margin-bottom: 13px; padding-top: 15px; letter-spacing: 0.6px;}
.product-shop .std h6 {margin-bottom: 13px; padding-top: 15px; letter-spacing: 0.6px;}
.product-shop .std table {margin: 0 0 27px 0; width: 100%; overflow-y: auto; display: block;}
.product-shop .std table caption {padding: 15px 0;}
.product-shop .std table td, .product-shop .std table th {border: 1px solid #e3e1e4; padding: 5px;}


@media only screen and (max-width: 1199px) {
    .catalog-product-view .col-main {width: 67%;}
    .catalog-product-view .col-right {width: 33%;}
    .catalog-product-view .breadcrumbs {margin-bottom: 16px;}
    .discussing .like-block, .discussing .additional-block {display: block; margin: 0;}
    .discussing .like-block {margin-bottom: 8px;}
    .discussing .additional-block a {font-size: 13px; margin: 0 17px 0 0;}
    .article-navigation {margin: 30px 0 12px;}
    .fotorama .fotorama__html {}
    .fotorama .fotorama__img {top: 0 !important;}
    .fotorama .text-block {padding: 20px 0 0 0; background: none;}
    .article-navigation li a {padding: 0 0 0 37px;}
    .video {height: 325px;}
    .fotorama .fotorama__arr--prev {left: 12.5px;}
    .fotorama .fotorama__arr--next {right: 12.5px;}
}

@media only screen and (max-width: 767px) {
    .catalog-product-view .col-main {width: 100%;}
    .product-2columns-right .main{padding: 0;}
    .product-2columns-right .product-view, .product-2columns-right .col-right, .product-2columns-right .breadcrumbs, .product-2columns-right .product-name, .col2-right-layout .col-main .messages {padding: 0 12.5px !important;}
    .catalog-product-view .col-right {width: 100%; padding-top: 17.5px !important; padding-bottom: 32.5px !important;}
    .catalog-product-view .col-right .zblock {border: none; padding-top: 17.5px; margin-bottom: 35px; padding-bottom: 0;}
    .discussing .additional-block .iwd-quick-view-publication {float: right;}
    .discussing .additional-block a {margin: 0 11px 0 0;}
    .discussing .additional-block a:not(.iwd-quick-view-publication) strong {display: none;}
    .article-navigation {margin: 22px 0 12px;}
    .article-navigation li a {padding: 0 0 0 32px;}
    .video {height: 195px;}
    .fotorama .text-block {padding: 15px 0 0 0;}
    .fotorama .fotorama__arr:after {font-size: 40px;}
    .catalog-product-view .col-right .featured-products{margin-bottom: 29px;}
}



