/* This css file was generate automatically by IWD Auto Related Products extension, please dont change it. File regenerated each time admin IWDAutoRelatedProducts  settings changed */
/* STORE: default */
            .default .iwd-auto-related-products-slider .iwd-btn-add-to-cart {color:#FFFFFF !important; background:#3399CC !important;  }
    .default .iwd-auto-related-products-slider .iwd-btn-add-to-cart:hover {color:#FFFFFF !important; background:#2E8AB8 !important;}
    .default .iwd-auto-related-products-slider .iwd-btn-view-details {color:#FFFFFF !important; background:#3399CC !important;  }
    .default .iwd-auto-related-products-slider .iwd-btn-view-details:hover {color:#FFFFFF !important; background:#2E8AB8 !important;}
    .default .iwd-auto-related-products-slider .iwd-out-of-stock {background:#FFFFFF !important;  }
    .default .iwd-auto-related-products-slider .iwd-out-of-stock span {color:#333333 !important; }
    .default .iwd-auto-related-products-slider .iwd-out-of-stock:hover {background:#FFFFFF !important;}
    .default .iwd-auto-related-products-slider .iwd-out-of-stock:hover span {color:#333333 !important;}
    .default .iwd-auto-related-products-slider .iwd-link-wishlist {color:#3399CC !important;  }
    .default .iwd-auto-related-products-slider .iwd-link-wishlist:hover {color:#2E8AB8 !important;}
    .default .iwd-auto-related-products-slider .iwd-link-compare {color:#3399CC !important;  }
    .default .iwd-auto-related-products-slider .iwd-link-compare:hover {color:#2E8AB8 !important;}
    .default .iwd-auto-related-products-slider .iwd-product-name {color:#636363 !important;  }
    .default .iwd-auto-related-products-slider .iwd-product-name:hover {color:#3399CC !important;}
    .default .iwd-auto-related-products-slider .price-box .label {color:#636363 !important;}
    .default .iwd-auto-related-products-slider .price-box .price-label {color:#636363 !important;}
    .default .iwd-auto-related-products-slider .price-box .old-price .price {color:#A0A0A0 !important;}
    .default .iwd-auto-related-products-slider .price {color:#3399CC !important;  }
    .default .iwd-auto-related-products-slider .price-box .label {color:#636363 !important;}
    .default .iwd-auto-related-products-slider .price-box .price-label {color:#636363 !important;}
    .default .iwd-auto-related-products-slider .price-box .old-price .price {color:#A0A0A0 !important;}
    .default .iwd-auto-related-products-slider .price {color:#3399CC !important;  }
    .default .iwd-auto-related-products-block .block-title .title {color:#2B2B2B !important; }
    .default .iwd-auto-related-products-block .block-title .owl-prev,
    .default .iwd-auto-related-products-block .block-title .owl-next {color:#2B2B2B !important;}
    .default .iwd-auto-related-products-block .block-title .owl-prev:hover,
    .default .iwd-auto-related-products-block .block-title .owl-next:hover {color:#2B2B2B !important;}
/* STORE: french */
            .french .iwd-auto-related-products-slider .iwd-btn-add-to-cart {color:#FFFFFF !important; background:#3399CC !important;  }
    .french .iwd-auto-related-products-slider .iwd-btn-add-to-cart:hover {color:#FFFFFF !important; background:#2E8AB8 !important;}
    .french .iwd-auto-related-products-slider .iwd-btn-view-details {color:#FFFFFF !important; background:#3399CC !important;  }
    .french .iwd-auto-related-products-slider .iwd-btn-view-details:hover {color:#FFFFFF !important; background:#2E8AB8 !important;}
    .french .iwd-auto-related-products-slider .iwd-out-of-stock {background:#FFFFFF !important;  }
    .french .iwd-auto-related-products-slider .iwd-out-of-stock span {color:#333333 !important; }
    .french .iwd-auto-related-products-slider .iwd-out-of-stock:hover {background:#FFFFFF !important;}
    .french .iwd-auto-related-products-slider .iwd-out-of-stock:hover span {color:#333333 !important;}
    .french .iwd-auto-related-products-slider .iwd-link-wishlist {color:#3399CC !important;  }
    .french .iwd-auto-related-products-slider .iwd-link-wishlist:hover {color:#2E8AB8 !important;}
    .french .iwd-auto-related-products-slider .iwd-link-compare {color:#3399CC !important;  }
    .french .iwd-auto-related-products-slider .iwd-link-compare:hover {color:#2E8AB8 !important;}
    .french .iwd-auto-related-products-slider .iwd-product-name {color:#636363 !important;  }
    .french .iwd-auto-related-products-slider .iwd-product-name:hover {color:#3399CC !important;}
    .french .iwd-auto-related-products-slider .price-box .label {color:#636363 !important;}
    .french .iwd-auto-related-products-slider .price-box .price-label {color:#636363 !important;}
    .french .iwd-auto-related-products-slider .price-box .old-price .price {color:#A0A0A0 !important;}
    .french .iwd-auto-related-products-slider .price {color:#3399CC !important;  }
    .french .iwd-auto-related-products-slider .price-box .label {color:#636363 !important;}
    .french .iwd-auto-related-products-slider .price-box .price-label {color:#636363 !important;}
    .french .iwd-auto-related-products-slider .price-box .old-price .price {color:#A0A0A0 !important;}
    .french .iwd-auto-related-products-slider .price {color:#3399CC !important;  }
    .french .iwd-auto-related-products-block .block-title .title {color:#2B2B2B !important; }
    .french .iwd-auto-related-products-block .block-title .owl-prev,
    .french .iwd-auto-related-products-block .block-title .owl-next {color:#2B2B2B !important;}
    .french .iwd-auto-related-products-block .block-title .owl-prev:hover,
    .french .iwd-auto-related-products-block .block-title .owl-next:hover {color:#2B2B2B !important;}
/* STORE: german */
            .german .iwd-auto-related-products-slider .iwd-btn-add-to-cart {color:#FFFFFF !important; background:#3399CC !important;  }
    .german .iwd-auto-related-products-slider .iwd-btn-add-to-cart:hover {color:#FFFFFF !important; background:#2E8AB8 !important;}
    .german .iwd-auto-related-products-slider .iwd-btn-view-details {color:#FFFFFF !important; background:#3399CC !important;  }
    .german .iwd-auto-related-products-slider .iwd-btn-view-details:hover {color:#FFFFFF !important; background:#2E8AB8 !important;}
    .german .iwd-auto-related-products-slider .iwd-out-of-stock {background:#FFFFFF !important;  }
    .german .iwd-auto-related-products-slider .iwd-out-of-stock span {color:#333333 !important; }
    .german .iwd-auto-related-products-slider .iwd-out-of-stock:hover {background:#FFFFFF !important;}
    .german .iwd-auto-related-products-slider .iwd-out-of-stock:hover span {color:#333333 !important;}
    .german .iwd-auto-related-products-slider .iwd-link-wishlist {color:#3399CC !important;  }
    .german .iwd-auto-related-products-slider .iwd-link-wishlist:hover {color:#2E8AB8 !important;}
    .german .iwd-auto-related-products-slider .iwd-link-compare {color:#3399CC !important;  }
    .german .iwd-auto-related-products-slider .iwd-link-compare:hover {color:#2E8AB8 !important;}
    .german .iwd-auto-related-products-slider .iwd-product-name {color:#636363 !important;  }
    .german .iwd-auto-related-products-slider .iwd-product-name:hover {color:#3399CC !important;}
    .german .iwd-auto-related-products-slider .price-box .label {color:#636363 !important;}
    .german .iwd-auto-related-products-slider .price-box .price-label {color:#636363 !important;}
    .german .iwd-auto-related-products-slider .price-box .old-price .price {color:#A0A0A0 !important;}
    .german .iwd-auto-related-products-slider .price {color:#3399CC !important;  }
    .german .iwd-auto-related-products-slider .price-box .label {color:#636363 !important;}
    .german .iwd-auto-related-products-slider .price-box .price-label {color:#636363 !important;}
    .german .iwd-auto-related-products-slider .price-box .old-price .price {color:#A0A0A0 !important;}
    .german .iwd-auto-related-products-slider .price {color:#3399CC !important;  }
    .german .iwd-auto-related-products-block .block-title .title {color:#2B2B2B !important; }
    .german .iwd-auto-related-products-block .block-title .owl-prev,
    .german .iwd-auto-related-products-block .block-title .owl-next {color:#2B2B2B !important;}
    .german .iwd-auto-related-products-block .block-title .owl-prev:hover,
    .german .iwd-auto-related-products-block .block-title .owl-next:hover {color:#2B2B2B !important;}
